volumes:
  coupes-rases-data:
    external: false
  pgadmin-data:
    external: false
services:
  db:
    build:
      context: .
      dockerfile: ./docker/postgres/Dockerfile
    volumes:
      - coupes-rases-data:/var/lib/postgresql/data
    container_name: coupes-rases-database
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devuser
      DATABASES: local,test
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    restart: always
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: devuser@devuser.com
      PGADMIN_DEFAULT_PASSWORD: devuser
    volumes:
        - pgadmin-data:/var/lib/pgadmin
  backend:
    platform: ${BACKEND_DOCKER_DEFAULT_PLATFORM}
    working_dir: /app/backend
    build:
      target: development
      context: backend
      dockerfile: ./Dockerfile
    volumes:
      - ./:/app
    container_name: coupes-rases-backend
    user: devuser
    command: /bin/sh -c "while sleep 1000; do :; done"
    ports:
      - "8080:8080"
      - "54112:54112"
    depends_on:
      - db

  frontend:
      build:
        args:
          VITE_API: http://localhost:8080
        context: frontend
        dockerfile: Dockerfile
      container_name: coupes-rases-frontend
      ports:
        - "8081:8000"
      depends_on:
        - backend
