volumes:
  coupes-rases-data:
    external: false

services:
  db:
    build:
      context: .
      dockerfile: ./docker/postgres/Dockerfile
    volumes:
      - coupes-rases-data:/var/lib/postgresql/data
    container_name: coupes-rases-database
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devuser
      DATABASES: local,test
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    restart: always
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: devuser
      PGADMIN_DEFAULT_PASSWORD: devuser

  backend:
    platform: ${BACKEND_DOCKER_DEFAULT_PLATFORM}
    build:
      target: development
      context: backend
      dockerfile: ./Dockerfile
    container_name: coupes-rases-backend
    command: /bin/sh -c "while sleep 1000; do :; done"
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://devuser:devuser@host.docker.internal:5432/local
      ENVIRONMENT: development

  frontend:
      build:
        context: frontend
        dockerfile: Dockerfile
      container_name: coupes-rases-frontend
      ports:
        - "8081:8000"
      depends_on:
        - backend
      environment:
        # Base url of backend api
        VITE_API: http://localhost:8000/api
