volumes:
  coupes-rases-data:
    external: false

services:
  db:
    build:
      context: .
      dockerfile: ./docker/postgres/Dockerfile
    volumes:
      - coupes-rases-data:/var/lib/postgresql/data
    container_name: coupes-rases-database
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devuser
      DATABASES: local,test

  backend:
    platform: ${BACKEND_DOCKER_DEFAULT_PLATFORM}
    build:
      target: development
      context: backend
      dockerfile: ./Dockerfile
    volumes:
      - .:/code:cached
    container_name: coupes-rases-backend
    command: 'tail -f /dev/null'
    ports:
      - "8080:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: ${DATABASE_URL}

  frontend:
      build:
        context: frontend
        dockerfile: ../docker/frontend/Dockerfile
      container_name: coupes-rases-frontend
      ports:
        - "8080:8000"
      depends_on:
        - backend
      environment:
        # Base url of backend api
        VITE_API: http://localhost:8000/api
